#wrapper {
  width: 1000px;
  height: 825px;
  margin: 25px auto;
}

#surface {
  background: white;
  border-radius: 25px;
  width: 726px;
  height: 534px;
  position: relative;
  bottom: 697px;
  left: 135px;
  line-height: 0;
}

#surface div{
  position: relative;
  background: green;
  display: inline-block;
  width: 0;
  height: 0;
  border-radius: relative;
  margin: 0;
  border: 0;
}
